body {
  margin-top: 100px;
  margin-bottom: 100px;
}
.container-fluid {
  height: 100%;
}
.grid-form {
  background-color: #ddd;
  position: relative;
  min-height: 100vh;
  overflow-y: scroll;
}
ul.leftSidebar, ul.rightSidebar, ul.dropdown-content, ul.dropdown-content-two, ul.dropdown-content-three {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}
ul.leftSidebar li, ul.rightSidebar li, ul.dropdown-content li, ul.dropdown-content-two li, ul.dropdown-content-three li {
  padding: 10px 10px;
  border: 1px solid #000;
}
ul.dropdown-content, ul.dropdown-content-two, ul.dropdown-content-three {
  padding-left: 0;
  display: none;
}
.dropdown-content a {
  display: block;
  color: #000;
  text-decoration: none;
}
.show {
  display: block;
}
.dropdown-toggle {
  color: #000;
}
.dropdown-toggle:active {
  text-decoration: none;
  color: #000;
}
.dropbtn {
  border: none;
}
.activeLink {
  background-color: #ddd;
}
.activeLink a {
  color: #000;
}
label {
  color: #000;
  padding-right: 15px;
}
input, textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  color: #000;
}
.items-fields {
  margin-top: 10px;
  margin-right: 10px;
  min-height: 2vh;
  display: block;
}
.field {
  margin-top: 10px;
}
span {
  color: #000;
  margin-right: 5px;
}
.right {
  display: inline-block;
  float: right;
}
.edit {
  text-align: left;
}
button {
  margin-top: 5px;
}
.fourXone {
  min-height: 80px;
  width: 320px;
}
.fourXtwo {
  min-height: 160px;
  width: 320px;
}
.fourXfour {
  min-height: 320px;
  width: 320px;
}
.fourXsix {
  min-height: 480px;
  width: 320px;
}
.fourXeight {
  min-height: 640px;
  width: 320px;
}
.sixXtwo {
  min-height: 160px;
  width: 480px;
}
.sixXthree {
  min-height: 240px;
  width: 480px;
}
.sixXfour {
  min-height: 320px;
  width: 480px;
}
.sixXsix {
  min-height: 480px;
  width: 480px;
}
.sixXeight {
  min-height: 640px;
  width: 480px;
}
.eightXtwo {
  min-height: 160px;
  width: 640px;
}
.eightXfour {
  min-height: 320px;
  width: 640px;
}
.eightXeight {
  min-height: 640px;
  width: 640px;
}
.twelveXone {
  min-height: 80px;
  width: 960px;
}
.twelveXtwo {
  min-height: 160px;
  width: 960px;
}
.twelveXfour {
  min-height: 320px;
  width: 960px;
}
.twelveXsix {
  min-height: 480px;
  width: 960px;
}
.twelveXeight {
  min-height: 640px;
  width: 960px;
}
/* Vladan */

.block {
  background: #f2f2f2;
  position: relative;
  padding: 15px;
  border: 1px solid #ccc;
  height: 90vh;
  margin-top: 2%;
  margin-bottom: 2%;
}
.block:not(:first-child) {
  margin-top: 10px;
}
.blocks {
  margin-bottom: 0;
}

.cards {
  width: 400px;
  min-height: 100px;
  background: darkslategray;
  position: relative;
  border: 1px solid #ccc;
  padding: 15px;
}
textarea {
  resize: vertical;
  height: 50px;
}

.visible {
  display: block;
}
.cards > div:first-child {
  border-bottom: 1px solid #fff;
}
