body {
  margin-top: 100px;
  margin-bottom: 100px;
}
.container-fluid {
  height: 100%;
}
.grid-form {
  background-color: #ddd;
  position: relative;
  min-height: 100vh;
  overflow-y: scroll;
}
ul.leftSidebar, ul.rightSidebar, ul.dropdown-content, ul.dropdown-content-two, ul.dropdown-content-three {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}
ul.leftSidebar li, ul.rightSidebar li, ul.dropdown-content li, ul.dropdown-content-two li, ul.dropdown-content-three li {
  padding: 10px 10px;
  border: 1px solid #000;
}
ul.dropdown-content, ul.dropdown-content-two, ul.dropdown-content-three {
  padding-left: 0;
  display: none;
}
.dropdown-content a {
  display: block;
  color: #000;
  text-decoration: none;
}
.show {
  display: block;
}
.dropdown-toggle {
  color: #000;
}
.dropdown-toggle:active {
  text-decoration: none;
  color: #000;
}
.dropbtn {
  border: none;
}
.activeLink {
  background-color: #ddd;
}
.activeLink a {
  color: #000;
}
label {
  color: #9e9e9e;
  padding-right: 15px;
}

.items-fields {
  margin-top: 10px;
  margin-right: 10px;
  min-height: 2vh;
  display: block;
}
.field {
  margin-top: 10px;
}
span {
  color: #9e9e9e;
  margin-right: 5px;
}
.right {
  display: inline-block;
  float: right;
  margin-top: 15px;
}

.edit {
  text-align: left;
}
.title_card {
  height: 25px;
}
button {
  margin-top: 5px;
}
.title {
  height: 40px;
  background: #fff;
}
/* Vladan */

.block:not(:first-child) {
  margin-top: 10px;
}
.blocks {
  margin-bottom: 0;
}

.cards {
  width: 400px;
  min-height: 100px;
  background: #fff;
  position: relative;
  border: 1px solid #ccc;
  padding: 15px;
}
textarea {
  resize: vertical;
  height: 50px;
}

.visible {
  display: block;
}

.cards > div:first-child {
  border-bottom: 1px solid #fff;
