body {
  margin-top: 100px;
  margin-bottom: 100px;
}
.container-fluid {
  height: 100%;
}
.grid-form {
  background-color: #ddd;
  position: relative;
  min-height: 100vh;
  overflow-y: scroll;
}
ul.leftSidebar, ul.rightSidebar, ul.dropdown-content, ul.dropdown-content-two, ul.dropdown-content-three {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}
ul.leftSidebar li, ul.rightSidebar li, ul.dropdown-content li, ul.dropdown-content-two li, ul.dropdown-content-three li {
  padding: 10px 10px;
  border: 1px solid #000;
}
ul.dropdown-content, ul.dropdown-content-two, ul.dropdown-content-three {
  padding-left: 0;
  display: none;
}
.dropdown-content a {
  display: block;
  color: #000;
  text-decoration: none;
}
.show {
  display: block;
}
.dropdown-toggle {
  color: #000;
}
.dropdown-toggle:active {
  text-decoration: none;
  color: #000;
}
.dropbtn {
  border: none;
}
.activeLink {
  background-color: #ddd;
}
.activeLink a {
  color: #000;
}
label {
  color: #fff;
}
input, textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.input-field {
  height: 50px;
  margin: 10px 0;
}
span {
  color: #fff;
}
.right {
  display: inline-block;
  float: right;
}
/* Vladan */

.block {
  background: #f2f2f2;
  position: relative;
  padding: 15px;
  border: 1px solid #ccc;
  height: 1000px;
  margin-top: 2%;
  margin-bottom: 2%;
}
.block:not(:first-child) {
  margin-top: 10px;
}
.blocks {
  margin-bottom: 0;
}
.cards {
  background: darkslategray;
  position: relative;
  min-height: 100px;
  padding: 15px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
}
textarea {
  resize: vertical;
  height: 50px;
}

.visible {
  display: block;
}
