
body {
	font-family: arial;
	margin: 0px;
}

/* make drag container visible */
#redips-drag {
	display: table;
	display: -moz-box;
}

/* table */
div#redips-drag table {
	background-color: #eee;
	border-collapse: collapse;
	margin: 7px;
}

 /*table cells */
div#redips-drag td {
	/*border: 1px solid navy;*/
	height: 50px;
	text-align: center;
	font-size: 10pt;
	padding: 2px;
}

/* drag object (DIV inside table cell) */
/*.redips-drag {*/
	/*margin: auto;*/
	/*text-align: center;*/
	/*width: 87px;*/
	/*height: 35px;*/
	/*line-height: 35px;*/
	/*border: 2px solid SteelBlue;*/
	/*background-color: white;*/
/*}*/
